
<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no" />
<meta http-equiv="content-language" content="vi" />
<title>Chú Bé Rồng Online - Ngọc Rồng Online - Ngọc Rồng Online</title>
<meta name="keywords" content="Chú Bé Rồng Online - Ngọc Rồng Online - Ngọc Rồng Online, Chú Bé Rồng Online, Ngoc Rong Online, Ngọc Rồng Mobile, Ngoc Rong Dien Thoai, Dragon Ball Online, game ngoc rong, ngoc rong, ngoc rong online, ngoc rong mobile, game 7 vien ngoc rong, game ngọc rồng, ngọc rồng, game 7 viên ngọc rồng" />
<meta name="description" content="Ngoc Rong Online, Ngọc Rồng Mobile, Ngoc Rong Dien Thoai, Dragon Ball Online" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="google-site-verification" content="5nwZFwDcVGDsKwm4SWkTt0ucuJqBq4li7lm52TxWXfU" />
<link rel="icon" href="https://forum.ngocrongonline.com/app/view/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="../logo256.png" />
<link rel="shortcut icon" href="https://forum.ngocrongonline.com/app/view/images/favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/png" href="https://forum.ngocrongonline.com/app/view/images/favicon.png">
<link rel="stylesheet" type="text/css" href="https://forum.ngocrongonline.com/app/view/css/StyleSheet.css" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" type="text/css" href="https://forum.ngocrongonline.com/app/view/css/template.css" />
</head>
<body> <div class="body_body">
<div style="line-height: 10px;
    font-size: 10px;
    padding-right: 5px;
       padding-bottom: 6px;
    padding-top: 2px;">
<img height=12 src="http://ngocrongonline.com/12.png" style="vertical-align: middle;" />
<span style="vertical-align: middle;">Dành cho người chơi trên 12 tuổi. Chơi quá 180 phút mỗi ngày sẽ hại sức khỏe.
</span>
</div>
<div class="left_top"></div><div class="bg_top"><div class="right_top"></div></div>
<div class="body-content">
<div class="a" align="center"><img src="http://ngocrongonline.com/images/logoW.png" height="90" /></div>
<div id="top">
<div class="link-more">
<div class="h">
<!--<div style="color: #032E58;margin-top:-8px;margin-bottom:4px;">
		 <center> <b>Mạng xã hội cho điện thoại di động</b></center> 
		</div>-->
<div class="bg_tree"></div>
<div class="bg_noel"></div>
<div class="menu2" style="">
<table width="100%" border="0" cellspacing="4">
<tr class="menu">
<td style="border: 3px solid #924C31;padding: 2px;"><a href="http://ngocrongonline.com">Trang Chủ</a></td>
<td style="border: 3px solid #924C31;padding: 2px;"><a href="http://ngocrongonline.com/?c=gallery">Giới Thiệu</a></td>
<td id="selected" style="border: 3px solid #FFAF4D;padding: 2px;"><a href="https://forum.ngocrongonline.com/app/?for=forum&do=detail">Diễn Đàn</a></td>
<td style="border: 3px solid #924C31;padding: 2px;">
<a href="https://www.facebook.com/ngoc.rong.online.9/">Fanpage</a></td>
</tr>
</table>
</div><div class="body"><!--<table width="100%" border="0" cellspacing="0">
	<tr class="menu1">
		<td id="selected"><a href="?for=forum&do=detail">Diễn đàn </a></td>
		<td><a href="?for=blog&do=new">Blog mới </a></td>
		<td><a href="?for=blog&do=hot">Blog Hot </a></td>
		<td><a href="?for=watch&do=list&p=0&sz=15">Theo dõi</a></td>
	</tr>
</table>-->
<div id="box_login_ads">
<div class="box_inputboxx" style="width:100%">
<!--<form action="http://forum.ngocrongonline.com/app/index.php?do=login" method="POST" name="login">	
		<div class="box_input_login">
			<input width="100px" name="user" value="SDT/Mail" type="text" />
		</div>
		<div class="box_input_login">
			<input width="100px" name="pass" value="123456" type="password" />
			<input type="hidden" name="checkru" value="7d6bf40966c9dcf6007d95e0d6502b4e"/>
		</div>
		<div class="box_button_login"><button type="submit" value="Đăng nhập" name="submit">Đăng nhập</button> </div>
	</form>-->
<div class="box_button_login" style="width:100%;position: relative;text-align:center;"><a href="{% url 'login' %}">
<button class="w3-button w3-red w3-small w3-hover-green">Đăng nhập</button></a>
<!--<a href="http://forum.ngocrongonline.com/app/view/register.php">
		<button class="w3-button w3-red w3-small w3-hover-green">Đăng ký</button>
		</a> -->
<a href="https://forum.ngocrongonline.com/app/?for=event&do=changepass">
<button class="w3-button w3-red w3-small w3-hover-green">Quên / Đổi mật khẩu</button></a>
<!--<br>
		<a href="?for=event&do=resetpass"><b>Quên MK</b></a> | <a href="?for=event&do=changepass"><b>Đổi MK</b></a> --></div>
</div>
<p>
</p><br>
<div style="width:100%;float:left;">
<table style="margin-left:auto;margin-right:auto;text-align:left;">
<tr>
<td>
</td>
</tr>
</table>
</div>
﻿<div id="columns" style="text-align:center">
<figure>
<a href="http://wap.teamobi.com/game/jar/116/1" title="game bảy viên Chú Bé Rồng Online">
<img height="35" src="http://ngocrongonline.com/images/jar.png" alt="game bảy viên Chú Bé Rồng Online"><br>
</a>
<figcaption><span style="color:rgb(209, 9, 50);">225</span> - <a href="http://wap.teamobi.com/game/jad/116/1" title="game bảy viên Chú Bé Rồng Online">
JAD
</a>
<br> <br>
</figcaption>
</figure>
<figure>
<a href="http://dl.teamobi.com/drive/get/R6" title="game bảy viên Chú Bé Rồng Online">
<img height="35" src="http://ngocrongonline.com/images/android.png" alt="game bảy viên Chú Bé Rồng Online">
</a>
<figcaption><span style="color:rgb(209, 9, 50);">225</span>
<br><a href="http://ngocrongonline.com/?c=huong-dan">Hướng dẫn cài</a></figcaption>
</figure>
<figure>
<a href="https://play.google.com/store/apps/details?id=com.bluedragonss.boysss" title="game Chú Bé Rồng Online">
<img height="35" src="http://ngocrongonline.com/images/play.png" alt="game Chú Bé Rồng Online">
</a>
<figcaption><span style="color:rgb(209, 9, 50);">225</span>
<br> <br></figcaption>
</figure>
<figure>
<a href="http://dl.teamobi.com/drive/get/Rw" title="game Chú Bé Rồng Online">
<img height="35" src="http://ngocrongonline.com/images/pc.png" alt="game Chú Bé Rồng Online">
</a>
<figcaption><span style="color:rgb(209, 9, 50);">225</span>
<br> <br></figcaption>
</figure>
<figure>
<a href="https://itunes.apple.com/us/app/ngoc-rong/id796794370?mt=8" title="game Chú Bé Rồng Online">
<img height="35" src="http://ngocrongonline.com/images/ip.png" alt="game Chú Bé Rồng Online">
</a>
<figcaption><span style="color:rgb(209, 9, 50);">225</span>
<br> <br> </figcaption>
</figure>
<!--<figure>
	  <a href="http://ngocrongonline.com/?c=download&id=NgocRong-WP" title="game bảy viên Chú Bé Rồng Online"><img src="http://ngocrongonline.com/images/wp.png" height="35">
		</a>
		<figcaption><span style="color:rgb(209, 9, 50);"></span>
		<br> <br></figcaption>	
	</figure>-->
<figure>
<a href="http://pay.teamobi.com/?game=nr&name=" title="nạp ngọc game bảy viên Chú Bé Rồng Online"><img src="http://ngocrongonline.com/images/napngoc.png" height="35">
</a>
<figcaption><span style="color:rgb(209, 9, 50);"><a href="https://forum.ngocrongonline.com/app/index.php?for=event&do=sms&p=0&sz=15">Báo Lỗi SMS</a></span><br>
<span style="color:rgb(209, 9, 50);"><a href="https://forum.ngocrongonline.com/app/index.php?for=event&do=report&p=0&sz=15">Báo Lỗi thẻ</a></span></figcaption>
</figure>
</div> <div style="text-align:center;    font-weight: bold;font-size:16px;">
<!--	<a href="?for=event&do=charge" ><img src="http://ngocrongonline.com/images/nr/vtc.png"></a>
	<a href="http://ngocrongonline.com/?c=nap-sms&username=" >
	<img src="http://ngocrongonline.com/images/nr/sms.png"></a>  
	<a href="http://ngocrongonline.com/?c=kc" ><img src="http://ngocrongonline.com/images/nr/kc.png"></a>
	-->
<!--<div id="columns" style="text-align:center">	
				<figure>
			<a href="?for=event&do=charge" ><img src="http://ngocrongonline.com/images/nr/vtc.png"></a>
		
			<figcaption><span style="color:rgb(209, 9, 50);"><a href="http://forum.ngocrongonline.com/app/index.php?for=event&do=report&p=0&sz=15">Báo Lỗi</a></span></figcaption>
		</figure>
		<figure>
		  <a href="http://ngocrongonline.com/?c=nap-sms&username=" >
		<img src="http://ngocrongonline.com/images/nr/sms.png"></a>  
		
		  <figcaption><span style="color:rgb(209, 9, 50);"><a href="http://forum.ngocrongonline.com/app/index.php?for=event&do=sms&p=0&sz=15">Báo Lỗi</a></span></figcaption>
		</figure>
		<figure>
		  <a href="http://ngocrongonline.com/?c=kc" ><img src="http://ngocrongonline.com/images/nr/kc.png"></a>
		  <figcaption><br></figcaption>
		</figure>
		
	  
	</div>-->
</div>
</div>
<div id="box_forums">
<div class="box_list_chuyenmuc">
<!--<div class="box_topsss"><span>Chuyên mục: </span>Ngọc Rồng Online</div>-->
<!--<div class="box_midss">
			<div class="box_detai"><span>Đề tài / Người gửi</span></div>
		</div>-->
<div id="stick">
<div class="box_botsss">
<div class="topic_name">
<div style="width:25px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/6578.png" alt="Thiên Sứ (1 Sao)" />
</div>
<div style="height:23px;display: table-cell; vertical-align: middle;">
<a href="index.php?for=forum&do=list&uid=19454999&p=0&sz=15" title="  Sự Kiện X2 EXP Tết Dương Lịch "><img src=http://my.teamobi.com/images/hot.gif> <b> Sự Kiện X2 EXP Tết Dương Lịch </b></a>
<img src="http://my.teamobi.com/images/hot.gif" border="0" />
<span style="color:red"></span>
</div>
<!--<div class="box_name_eman">bởi <a href="index.php?for=user&do=detail&uid=6476054" title="Thiên Sứ (1 Sao)">Thiên Sứ (1 Sao)</a><span> Trả lời : 32</span><span> - Xem : 21005</span></div>-->
</div>
</div>
<div class="box_botsss">
<div class="topic_name">
<div style="width:25px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/9077.png" alt="Lý Tiểu Nương (1 Sao)" />
</div>
<div style="height:23px;display: table-cell; vertical-align: middle;">
<a href="index.php?for=forum&do=list&uid=19454587&p=0&sz=15" title=" CẬP NHẬT CHỈ SỐ GIỚI HẠN SỨC MẠNH MỚI "><B> CẬP NHẬT CHỈ SỐ GIỚI HẠN SỨC MẠNH MỚI </B></a>
<img src="http://my.teamobi.com/images/hot.gif" border="0" />
<span style="color:red"></span>
</div>
<!--<div class="box_name_eman">bởi <a href="index.php?for=user&do=detail&uid=24591229" title="Lý Tiểu Nương (1 Sao)">Lý Tiểu Nương (1 Sao)</a><span> - Xem : 16734</span></div>-->
</div>
</div>
<div class="box_botsss">
<div class="topic_name">
<div style="width:25px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/9077.png" alt="Lý Tiểu Nương (1 Sao)" />
</div>
<div style="height:23px;display: table-cell; vertical-align: middle;">
<a href="index.php?for=forum&do=list&uid=19454474&p=0&sz=15" title=" CẢI TRANG NOEL 2022 - VÒNG QUAY THƯỢNG ĐẾ "><b> CẢI TRANG NOEL 2022 - VÒNG QUAY THƯỢNG ĐẾ </b></a>
<span style="color:red"></span>
</div>
<!--<div class="box_name_eman">bởi <a href="index.php?for=user&do=detail&uid=24591229" title="Lý Tiểu Nương (1 Sao)">Lý Tiểu Nương (1 Sao)</a><span> - Xem : 18909</span></div>-->
</div>
</div>
<div class="box_botsss">
<div class="topic_name">
<div style="width:25px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/6101.png" alt="Black Goku (1 Sao)" />
</div>
<div style="height:23px;display: table-cell; vertical-align: middle;">
<a href="index.php?for=forum&do=list&uid=19453824&p=0&sz=15" title=" Sự Kiện x2 Toàn Máy Chủ - Chào Đón Giáng Sinh 2022 "><b> Sự Kiện x2 Toàn Máy Chủ - Chào Đón Giáng Sinh 2022 </b></a>
<span style="color:red"></span>
</div>
<!--<div class="box_name_eman">bởi <a href="index.php?for=user&do=detail&uid=240504" title="Black Goku (1 Sao)">Black Goku (1 Sao)</a><span> - Xem : 30289</span></div>-->
</div>
</div>
<div class="box_botsss">
<div class="topic_name">
<div style="width:25px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/9077.png" alt="Lý Tiểu Nương (1 Sao)" />
</div>
<div style="height:23px;display: table-cell; vertical-align: middle;">
<a href="index.php?for=forum&do=list&uid=19453750&p=0&sz=15" title=" Sự Kiện Lễ Giáng Sinh - Noel 2022 "><b> Sự Kiện Lễ Giáng Sinh - Noel 2022 </b></a>
<span style="color:red"></span>
</div>
<!--<div class="box_name_eman">bởi <a href="index.php?for=user&do=detail&uid=24591229" title="Lý Tiểu Nương (1 Sao)">Lý Tiểu Nương (1 Sao)</a><span> Trả lời : 9</span><span> - Xem : 68611</span></div>-->
</div>
</div>
<div class="box_botsss">
<div class="topic_name">
<div style="width:25px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/1209.png" alt="Thần mèo Karin (1 Sao)" />
</div>
<div style="height:23px;display: table-cell; vertical-align: middle;">
<a href="index.php?for=forum&do=list&uid=19452914&p=0&sz=15" title="MỞ NHẬP GIFTCODE OFFLINE HÀ NỘI 2022"><b>MỞ NHẬP GIFTCODE OFFLINE HÀ NỘI 2022</b></a>
<span style="color:red"></span>
</div>
<!--<div class="box_name_eman">bởi <a href="index.php?for=user&do=detail&uid=24592199" title="Thần mèo Karin (1 Sao)">Thần mèo Karin (1 Sao)</a><span> - Xem : 29432</span></div>-->
</div>
</div>
</div>
<!--<div class="box_botss">
			
			
			
			<div class="topic_name" style="">
			
				<div style="width:30px;float:left;margin-right: 3px;">
					<img style="max-width:100%;max-height:100%;" src="http://forum.ngocrongonline.com/avatar/522.png" alt="jsshhxb">	
				</div>
				<div>
								
								<a href="index.php?for=forum&amp;do=list&amp;uid=15385794&amp;p=0&amp;sz=15" title="triển lãm ảnh  đây ai có ảnh vao gop vui ko ảnh vao xem"><span>triển lãm ảnh  đây ai có ảnh vao gop vui ko ảnh vao xem</span></a>
				 
				<a style="float:right;padding-right: 15px;" href="?for=forum&amp;do=delc&amp;uid=15385794&amp;go=3" onclick="return confirm('Are you sure you want to delete?')"><img class="command" border="0" width="12px" height="12px" src="http://forum.ngocrongonline.com/app/images/img/b_xoa.png" alt="Xóa" title="Xóa"></a>								
				<div class="box_name_eman">bởi <span>jsshhxb</span>
				
				<span style="color:red">☆☆☆☆☆</span>
				
								<span style="color:red"> ♥♥♥♥♥</span>  
												</div>
				</div>
			</div>
		</div>	-->
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/734.png" alt="eole1121 (5 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455342&p=0&sz=15" title="Không đăng ký đc tk"><span>Không đăng ký đc tk</span></a>
<div class="box_name_eman">bởi <span>eole1121 (5 Sao)</span>
<span style="color:red"></span>
<span style="color:red"> &hearts;</span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/522.png" alt="boykmer (3 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455255&p=0&sz=15" title="Chung tay gây dựng lại game"><span>Chung tay gây dựng lại game</span></a>
<div class="box_name_eman">bởi <span>boykmer (3 Sao)</span>
<span style="color:red">☆</span>
<span style="color:red"> &hearts;</span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/519.png" alt="kkknodz32 (1 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455179&p=0&sz=15" title="Mong mở thêm khu bên cold"><span>Mong mở thêm khu bên cold</span></a>
<div class="box_name_eman">bởi <span>kkknodz32 (1 Sao)</span>
<span style="color:red">☆</span>
<span style="color:red"> &hearts;</span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/522.png" alt="uocmoao (1 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455315&p=0&sz=15" title="Nguyền rủa mấy thằng xài tool mua ký gửi"><span>Nguyền rủa mấy thằng xài tool mua ký gửi</span></a>
<div class="box_name_eman">bởi <span>uocmoao (1 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/520.png" alt="rusekiss (3 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455313&p=0&sz=15" title="cho tui hỏi với ae"><span>cho tui hỏi với ae</span></a>
<div class="box_name_eman">bởi <span>rusekiss (3 Sao)</span>
<span style="color:red"></span>
<span style="color:red"> &hearts;</span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/522.png" alt="vegitovanh (2 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455214&p=0&sz=15" title="vui vui xíu"><span>vui vui xíu</span></a>
<div class="box_name_eman">bởi <span>vegitovanh (2 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/518.png" alt="s5thuykute (5 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455291&p=0&sz=15" title="Xây dựng lại nro thời đỉnh cao"><span>Xây dựng lại nro thời đỉnh cao</span></a>
<div class="box_name_eman">bởi <span>s5thuykute (5 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/521.png" alt="xicloithan (2 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455272&p=0&sz=15" title="Đi doanh trại "><span>Đi doanh trại </span></a>
<div class="box_name_eman">bởi <span>xicloithan (2 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/522.png" alt="8bitcoin (7 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455132&p=0&sz=15" title="Mình thấy nro xanh có một cái rất hay"><span>Mình thấy nro xanh có một cái rất hay</span></a>
<div class="box_name_eman">bởi <span>8bitcoin (7 Sao)</span>
<span style="color:red">☆</span>
<span style="color:red"> &hearts;</span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/522.png" alt="gachipchjp (5 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455299&p=0&sz=15" title="Ngu dốt nên sinh ra tham lam"><span>Ngu dốt nên sinh ra tham lam</span></a>
<div class="box_name_eman">bởi <span>gachipchjp (5 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/734.png" alt="s8g0hansc3 (8 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455218&p=0&sz=15" title="Cuối cùng thì"><span>Cuối cùng thì</span></a>
<div class="box_name_eman">bởi <span>s8g0hansc3 (8 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/524.png" alt="009xz (3 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455249&p=0&sz=15" title="1 bộ ra khỉ kok"><span>1 bộ ra khỉ kok</span></a>
<div class="box_name_eman">bởi <span>009xz (3 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/522.png" alt="hifegz (5 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455230&p=0&sz=15" title="Võ đài liên sv"><span>Võ đài liên sv</span></a>
<div class="box_name_eman">bởi <span>hifegz (5 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/734.png" alt="allsundayz (4 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455262&p=0&sz=15" title="Góp ý về skill"><span>Góp ý về skill</span></a>
<div class="box_name_eman">bởi <span>allsundayz (4 Sao)</span>
<span style="color:red"></span>
</div>
</div>
</div>
</div>
<br>
<div class="box_botss">
<div class="topic_name" style=>
<div style="width:30px;float:left;margin-right: 3px;">
<img style="max-width:100%;max-height:100%;" src="https://forum.ngocrongonline.com/avatar/519.png" alt="huybaz0ka (3 Sao)" />
</div>
<div>
<a href="index.php?for=forum&do=list&uid=19455275&p=0&sz=15" title="Bọn này chơi hack bẩn đuổi nó ngay"><span>Bọn này chơi hack bẩn đuổi nó ngay</span></a>
<div class="box_name_eman">bởi <span>huybaz0ka (3 Sao)</span>
<span style="color:red"></span>
<span style="color:red"> &hearts;</span>
</div>
</div>
</div>
</div>
<div class="box_topsss" style="background-color: transparent;">
<div style="width:100px;float:left;">
</div>
<span style="float:right">
<div class="pagination">
<span class="pagecurrent">1</span>
<a class='pagelink' href="?for=forum&do=setting&uid=3&sz=15&p=1">2</a>
<a class='pagelink' href="?for=forum&do=setting&uid=3&sz=15&p=2">3</a>
<a class='pagelink' href="?for=forum&do=setting&uid=3&sz=15&p=1">></a></div></span></div>
</div>
<div class="box_list_parent">
<div class="box_parent_list">
<div class="box_topss"><center>Kết quả Võ Đài Sức Mạnh</center></div>
<table width="100%">
<thead>
<th width="33%">Ngày</th>
<th width="33%">Vũ trụ</th>
<th width="33%">Sống sót</th>
</thead>
<tbody style="text-align:center">
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2023-01-04 12&sv=5&c=48">04-01-2023 12h</a></td>
<td>5 Sao</td>
<td>48</td>
</tr>
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2023-01-03 20&sv=5&c=138">03-01-2023 20h</a></td>
<td>5 Sao</td>
<td>138</td>
</tr>
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2023-01-03 12&sv=5&c=67">03-01-2023 12h</a></td>
<td>5 Sao</td>
<td>67</td>
</tr>
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2023-01-02 20&sv=5&c=91">02-01-2023 20h</a></td>
<td>5 Sao</td>
<td>91</td>
</tr>
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2023-01-02 12&sv=5&c=116">02-01-2023 12h</a></td>
<td>5 Sao</td>
<td>116</td>
</tr>
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2023-01-01 12&sv=5&c=16">01-01-2023 12h</a></td>
<td>5 Sao</td>
<td>16</td>
 </tr>
<tr>
<td><a style="color:#1bff00" href="?for=event&do=top&date=2022-12-31 20&sv=5&c=14">31-12-2022 20h</a></td>
<td>5 Sao</td>
<td>14</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="box_list_parent">
<div class="box_parent_list">
<table width="100%" border="0" cellspacing="0">
<tbody><tr class="menu1">
<td width="25%" style="border: 2px solid #FFAF4D;padding: 2px;"><a href="index.php?for=forum&amp;do=setting&amp;uid=4&amp;p=0&amp;sz=15">Báo lỗi</a></td>
<td width="25%" style="border: 2px solid #FFAF4D;padding: 2px;"><a href="index.php?for=forum&amp;do=setting&amp;uid=5&amp;p=0&amp;sz=15">Tố cáo</a></td>
<td width="25%" style="border: 2px solid #FFAF4D;padding: 2px;"><a href="index.php?for=forum&amp;do=setting&amp;uid=6&amp;p=0&amp;sz=15">Góp ý </a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="clearfix"></div>
</div> <br></div>
</div><br>
</div>
</div>
<style>
			.copyright a{
				color: #000;
			}
		   </style>
<div class="left_b_bottom"><div class="right_b_bottom"><div class="footer"><div class="left_bottom"></div><div class="right_bottom"></div></div></div></div>
<div class="copyright" style="line-height: 7px">
<p>Giấy phép thiết lập Mạng Xã Hội trên mạng số: 374/GP-BTTTT <br><br>do Bộ Thông Tin và Truyền Thông cấp ngày: 07/08/2015 - <a href="http://teamobi.com/dieukhoan.htm"><small>Điều Khoản Sử Dụng</small></a></p>
<!--<h2 style="font-size:12px;">Chú Bé Rồng Online - Ngọc Rồng Online</h2>-->
Bản Quyền thuộc về TeaMobi - 2015<p>
<a href="http://wap.teamobi.com/game/30" target="_blank">Avatar</a> -
<a href="http://am.teamobi.com/" target="_blank">AVMK</a> -
<a href="http://wap.teamobi.com/game/118" target="_blank">Mobi Army</a> -
<a href="http://wap.teamobi.com/game/31" target="_blank">KPAH</a> -
<a href="http://ninjaschool.vn/" target="_blank">Ninja</a> -
<a href="http://knightageonline.com/" target="_blank">Knight</a> -
<a href="http://haitactihon.com/" target="_blank">Hải Tặc</a></p>
<center><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fngoc.rong.online.9&amp;width=50px&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=310451925784203" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100pxpx; height:21px;" width="100px" allowTransparency="true"></iframe></center>
</div>
</div>
<script type="6be37ad82fcde572f72a808c-text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22738816-8', 'ngocrongonline.com');
  ga('send', 'pageview');

</script>
<script src="https://pay.teamobi.com/hoamai.js" crossorigin="anonymous" type="6be37ad82fcde572f72a808c-text/javascript"></script> <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="6be37ad82fcde572f72a808c-|49" defer=""></script></body>
</html>
